@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');
/*@import url(https://fonts.googleapis.com/css?family=Righteous);*/
.title {
    display: flex;
    width: auto;
    height: auto;
    padding-top: 15px;
    justify-content: center;
    
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;

    letter-spacing: .1em;
    
    border-radius: 55px;
  }
  .title h1 {
      color: #a11c1c;
      text-align: center;
  }
  .con {
    
    
    padding: 10% ;
  }

 /* button style */
 .btn:hover {
    letter-spacing: 0.8em;
    background-color: #c0bfb4;
  }
  
  .btn {
    color: #520d16;
  }
  a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    height: 4em;
    width: 10%;
    padding: 1.5em auto;
    margin: 1em auto;
    background-color: #c0bfb4;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
   
  }
  